<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"> 
  <%- include('template/breadcrumb', { module: '', module1: 'INICIO' }) %>
  <h3> Permisos Reportes </h3>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-info card-outline">
        <div class="card-body">
            <a href="/AccesoreportesCreate" class="btn btn-primary mt-4 mb-2">NUEVO <i class="fa-solid fa-square-plus"></i></a>
          <table id="example1" class="table table-striped mt-4 table-responsive">
            <thead class="table-dark">
              <tr>
                <TH SCOPE="col">#ID</TH>
                <TH SCOPE="col">DIRECCIÓN FTP</TH>
                <TH SCOPE="col">REPORTE</TH>
                <TH SCOPE="col">ACCESO A USUARIO:</TH>
                <TH SCOPE="col">ACCIONES</TH>
                <TH SCOPE="col">FECHA ACTUALIZACIÓN</TH>
              </tr>
            </thead>
            <tbody>
              <% results.forEach((report) => { %>
                <tr>
                  <td><%= report.id %></td>
                  <td><%= report.direccion_ftp %></td>
                  <td><%= report.reporte %></td>
                  <td><%= report.usuario %></td>
                  <td>
                    <!-- Enlace para editar el reporte -->
                    <a href="/Acceso_reportes_Edit/<%= report.id %>" class="btn btn-primary" data-toggle="tooltip" title="EDITAR">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                
                    <!-- Enlace para borrar el reporte con confirmación -->
                    <a href="#" onclick="confirmationAccesos('<%= report.id %>'); return false;" class="btn btn-danger" data-toggle="tooltip" title="BORRAR">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
                  <td><%= new Date(report.fecha_modificacion).toLocaleString('en-CA', { 
                    year: 'numeric', 
                    month: '2-digit', 
                    day: '2-digit', 
                    hour: '2-digit', 
                    minute: '2-digit', 
                    second: '2-digit', 
                    hour12: false 
                }).replace(',', '') %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>  
        </div><!-- /.card-body -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include("template/footer") %>
