<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside")%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">        
  <%- include('template/breadcrumb', { module: 'NUEVO REPORTE', module1: ' INVENTARIO / REPORTES / NUEVO REPORTE' }) %>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <% if (alert) { %>
            <div class="alert alert-danger" role="alert">
                <%= alertMessage %>
            </div>
        <% } %>
      <!-- Main row -->
      <div class="card card-info card-outline">                
        <!-- <div class="card-header">             
            <div class="mb-3">
                <h3 class="card-title">ESTA REGISTRANDO | <%= userName %></h3>                
            </div>           
        </div> -->
        <div class="card-body">
          <form action="/saveRepor" method="POST">
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-3">
                        <label for="cd_reporte" class="form-label">CODIGO REPORTE</label>
                        <input type="text" class="form-control" id="cd_reporte" name="cd_reporte" tabindex="1" required>              
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="nombre_reporte" class="form-label">REPORTE</label>
                        <input type="text" class="form-control" id="nombre_reporte" name="nombre_reporte" tabindex="2" required>                
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-3">
                        <label for="tipo_reporte" class="form-label">TIPO REPORTE</label>
                        <!-- <input type="text" class="form-control" id="tipo_reporte" name="tipo_reporte" tabindex="3">  -->
                        <select class="custom-select rounded-0" style="width: 100%;"  id="tipo_reporte" name="tipo_reporte" tabindex="3">
                            <option selected="selected">.xls</option>
                            <option>.txt o .csv</option>
                            <!-- <option disabled="disabled">California (disabled)</option> -->
                            <option>Power BI</option>
                            <option>Tableau</option>
                            <option>.zip</option>
                            <option>Otro</option>
                        </select>               
                    </div>                    
                </div>           
            </div>            
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-3">
                        <label for="tipo_reporte" class="form-label">FRECUENCIA</label>
                        <!-- <input type="text" class="form-control" id="tipo_reporte" name="tipo_reporte" tabindex="4">  -->
                        <select class="custom-select rounded-0" style="width: 100%;"  id="frecuencia" name="frecuencia" tabindex="4">
                            <option selected="selected">Diario</option>
                            <option>Semanal</option> 
                            <option>Quincenal</option>                            
                            <option>Mes</option>                                                       
                        </select>               
                    </div>                   
                </div>                
                <div class="col-md-2">
                    <div class="mb-3">
                        <label for="tipo_reporte" class="form-label">REPOSITORIO</label>                        
                        <select class="custom-select rounded-0" style="width: 100%;"  id="repositorio" name="repositorio" tabindex="5">
                            <option selected="selected">FTP</option>
                            <option>Power BI</option>                            
                            <option>Tableau</option>
                            <option>Otro</option>                            
                        </select>               
                    </div>                                        
                </div>
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="responsable" class="form-label">RESPONSABLE</label>
                        <input type="text" class="form-control" id="responsable" name="responsable" tabindex="6" required>
                      </div>
                </div>
            </div>   
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="area" class="form-select">AREA</label>
                        <select class="custom-select rounded-0" id="area" name="area" class="form-select" tabindex="7">
                          <option value="7" selected>GERENCIA GENERAL</option>
                          <option value="6">FINANZAS</option>
                          <option value="5">TECNOLOGIA DE LA INFORMACION</option>
                          <option value="4">RED & OPERACIONES</option>
                          <option value="3">SERVICIOS ADMINISTRATIVOS - ASUNTOS CORPORATIVOS</option>
                          <option value="8">SERVICIOS ADMINISTRATIVOS</option>
                          <option value="9">MERCADEO Y VENTAS</option>
                        </select>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-3">
                        <label for="producto" class="form-select">PRODUCTO</label>
                        <select class="custom-select rounded-0" id="producto" name="producto" class="form-select" tabindex="8">
                          <option value="Prepago" selected>Prepago</option>
                          <option value="Postpago">Postpago</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="URL" class="form-label">RUTA</label>
                        <input type="text" class="form-control" id="URL" name="URL" tabindex="9" required>
                    </div>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="hora_ejecucion" class="form-label">HORA EJECUCION</label>
                        <div class="d-flex">
                            <select class="custom-select rounded-0" id="hora_ejecucion_hora" name="hora_ejecucion_hora" tabindex="9">
                                <!-- Opciones para horas -->
                                <option value="">Hora</option>
                                <% for (let i = 0; i < 24; i++) { %>
                                    <option value="<%= i.toString().padStart(2, '0') %>"><%= i.toString().padStart(2, '0') %></option>
                                <% } %>
                            </select>
                            <span class="mx-2">:</span>
                            <select class="custom-select rounded-0" id="hora_ejecucion_minuto" name="hora_ejecucion_minuto" tabindex="10">
                                <!-- Opciones para minutos -->
                                <option value="">Minuto</option>
                                <% for (let i = 0; i < 60; i++) { %>
                                    <option value="<%= i.toString().padStart(2, '0') %>"><%= i.toString().padStart(2, '0') %></option>
                                <% } %>
                            </select>
                            <span class="mx-2">:</span>
                            <select class="custom-select rounded-0" id="hora_ejecucion_segundo" name="hora_ejecucion_segundo" tabindex="11">
                                <!-- Opciones para segundos -->
                                <option value="">Segundo</option>
                                <% for (let i = 0; i < 60; i++) { %>
                                    <option value="<%= i.toString().padStart(2, '0') %>"><%= i.toString().padStart(2, '0') %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="usuario" class="form-select">REGISTRADO POR</label>
                        <select class="custom-select rounded-0"  id="usuario" name="usuario" class="form-select">
                          <option value="<%= userName %>" selected><%= userName %></option>                          
                        </select>
                    </div>                    
                </div>
            </div>                         
            <button type="submit" class="btn btn-primary" tabindex="12">GUARDAR</button>
            <a href="/inventarioReportes" class="btn btn-secondary">CANCELAR</a>
          </form>            
        </div><!-- /.card-body -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include("template/footer") %>
